<!--<h1>
  {{title}}
</h1>-->

<!--
<app-login></app-login>
<p appHighlight>{{"hello world" | uppercase }} {{date | date: "MM/dd/yy"}} {{"abC" | toMany: 5}}</p>
<p *appUnless="!show">Unless demo</p>

-->

<!--
<app-login></app-login>
<app-signup></app-signup>
-->

<!--
<app-rxjs-example2></app-rxjs-example2>
-->

<!--
<app-input-example [message]="'Angular 2'"></app-input-example>
-->

<!--
<app-output-example-container></app-output-example-container>

<app-projection-example>
    <p>My <i>projected</i> content.</p>
</app-projection-example>

<app-user-list></app-user-list>
<app-rxjs-example2></app-rxjs-example2>


<app-lifecycle-container-example></app-lifecycle-container-example>


<app-route-example-container></app-route-example-container>
-->

<div class="bgClass">This is content</div>
