<form id="login-form" name="login-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4"></div>
      <div class="col-lg-4 col-md-4">
        <div class="row">
          <div class="col-lg-4 col-md-4">User ID:</div>
          <div class="col-lg-4 col-md-4">
            <input name="user-id" type="text" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4">Password:</div>
          <div class="col-lg-4 col-md-4">
            <input name="password" type="password" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4"></div>
          <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary pull-right">Submit</button>
            <button class="btn btn-warning pull-right">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
