/* You can add global styles to this file, and also import other style files */
.login-panel, .signup-panel {
  background-color: #ADC4CC;
  box-shadow: 10px 10px 60px -9px rgba(0,0,0,0.75);
}

input[name='userId'].ng-invalid, input[name='password'].ng-invalid, input[name='passwordToConfirm'].ng-invalid {
  background-color: #F0E193;
  border: solid 1px red;
}

