/* You can add global styles to this file, and also import other style files */
.login-panel, .signup-panel {
  background-color: #ADC4CC;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.login-panel .text-right, .signup-panel .text-right {
  line-height: 28px;
  color: blue;
}

input[name='userId'].ng-invalid, input[name='password'].ng-invalid, input[name='passwordToConfirm'].ng-invalid {
  background-color: #F0E193;
  border: solid 1px red;
}

